node_modules/
package-lock.json

.env
*.env
backend/.env

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
error.log

pids
*.pid
*.seed
*.pid.lock

lib-cov
coverage
*.lcov
.nyc_output

.grunt-temp/
bower_components
.lock-wscript
build/Release
jspm_packages/
*.tsbuildinfo

.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity

.env.test
.env.production
.cache
.parcel-cache
.next
out
.nuxt
dist
.cache/
public
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port

.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.vscode/
.idea/
*.swp
*.swo
*.swn
*~

build/
dist/

temp/
tmp/
*.tmp

*.bak
*.backup

